@font-face {
    font-family: 'RubikMono';
    src: url('../styles/fonts/RubikMonoOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'RubikRegular';
    src: url('../styles/fonts/Rubik-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'RubikMedium';
    src: url('../styles/fonts/Rubik-Medium.ttf') format('truetype');
}

ion-content {
    --background: url('../assets/images/background-image.jpg') right top fixed;
    background-size: cover;
}


.header-title {
    color: #000000;
    border-bottom: 1px solid #ececec;
    background: rgba(255, 255, 255, 0.5);
}

.custom-tab-bar {
    font-family: RubikRegular, sans-serif;
    background: rgba(255, 255, 255, 0.5);
    border-top: 1px solid #ececec;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.custom-tab-bar ion-tab-button {
    --color-selected: #d58059;
    --ion-color-base: #9e9e9e;
    --ion-color-activated: #ffffff;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    text-align: center;
}

.custom-tab-bar ion-label {
    font-size: 12px;
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 5px;
}

.custom-tab-bar ion-label {
    max-width: 60px;
    padding-bottom: 10px;
}

.custom-tab-bar ion-tab-button {
    padding: 0;
}


.header-title {
    font-family: 'RubikMono', sans-serif;
    text-align: left;
    padding: 6px 10px;
}

.lesson-title {
    font-size: 16px;
}

.lesson-card {
    font-family: RubikRegular, sans-serif;
    margin-bottom: 16px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.85);
}


.start-button {
    flex-shrink: 0;
}

.title-bank-name {
    font-family: RubikMedium, sans-serif;
    font-size: 28px;
}

.card-info {
    font-family: RubikRegular, sans-serif;
}

.no-credits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 56px);
}

.no-credits img {
    max-width: 80%;
}

.no-credits p {
    font-family: RubikMedium, sans-serif;
    margin-top: 16px;
    font-size: 16px;
    color: #888;
}

ion-toolbar {
    --background: rgb(249, 212, 194);
}

.active-credit-card {
    background: rgba(255, 255, 255, 0.85);
}

ion-select.always-flip::part(icon) {
    transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

ion-select.always-flip.select-expanded::part(icon) {
    transform: rotate(180deg);
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


ion-input {
    width: 20%;
}

.creditOffersCard {
    font-family: RubikRegular, sans-serif;
}


.transparent-input {
    background-color: rgba(255, 255, 255, 0.85);
    border: none;
    border-bottom: 1px solid #ccc;
    color: #000;
}


.profile-card {
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    margin: 20px;
}

.save-button {
    margin: 10px;
}


.exit-button {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 100px;
}

.custom-button {
    color: orange;
    border-color: orange;
    --border-color: orange;
}

.credit-product-name {
    font-family: RubikMedium, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    font-size: 90%;
}

.credit-bank-name {
    font-family: RubikRegular, sans-serif;
    padding-left: 30px;
    padding-top: 10px;
}

.credit-product-details {
    font-family: RubikRegular, sans-serif;
}


.center-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.centered-button {
    max-width: 350px;
    width: 100%;
    border-radius: 20px;
    font-family: RubikMedium, sans-serif;
    --background: #d58059;
}
