@font-face {
    font-family: 'RubikMono';
    src: url('../styles/fonts/RubikMonoOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'RubikRegular';
    src: url('../styles/fonts/Rubik-Regular.ttf') format('truetype');
}

/* Customize the appearance of the tab bar */
.custom-tab-bar {
    font-family: RubikRegular, sans-serif;
    background-color: #ffffff;
    border-top: 1px solid #e0e0e0;
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Adjust the style of tab buttons */
.custom-tab-bar ion-tab-button {
    --color-selected: #007bff;
    --ion-color-base: #9e9e9e;
    --ion-color-activated: #ffffff;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 0;
    text-align: center;
}

/* Adjust the style of tab icons */
.custom-tab-bar ion-icon {
    font-size: 24px;
}

/* Adjust the style of tab labels */
.custom-tab-bar ion-label {
    font-size: 12px;
    font-weight: bold;
    margin-top: 4px;
}

/* Set a maximum width for tab labels */
.custom-tab-bar ion-label {
    max-width: 60px;
}

/* Adjust the padding inside tab buttons */
.custom-tab-bar ion-tab-button {
    padding: 0;
}


.header-title {
    font-family: 'RubikMono', sans-serif;
    text-align: left;
    padding: 6px 10px;
}

/* Customize font size for lesson titles */
.lesson-title {
    font-size: 16px; /* Adjust the font size */ /* Add padding to the right */
}

/* Style lesson cards */
.lesson-card {
    margin-bottom: 16px;
    position: relative;
    display: flex;
    justify-content: space-between; /* Add this to distribute content horizontally */
    align-items: center; /* Center vertically */ /* Add padding for spacing */
}

/* Style start button */
.start-button {
    flex-shrink: 0; /* Prevent the button from shrinking */
}

ion-select.always-flip::part(icon) {
    transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

ion-select.always-flip.select-expanded::part(icon) {
    transform: rotate(180deg);
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust spacing as needed */
}

.custom-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ion-input {
    width: 20%; /* Adjust width as needed */
}
