@font-face {
    font-family: 'RubikMono';
    src: url('../styles/fonts/RubikMonoOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'RubikRegular';
    src: url('../styles/fonts/Rubik-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'RubikMedium';
    src: url('../styles/fonts/Rubik-Medium.ttf') format('truetype');
}

ion-content {
    --background: url('../assets/images/background-image.jpg') right top fixed;
    background-size: cover;
}


/* Customize the title color of the header */
.header-title {
    color: #000000;
    border-bottom: 1px solid #ececec;
    background: rgba(255,255,255,0.5);
}

.custom-tab-bar {
    font-family: RubikRegular, sans-serif;
    background: rgba(255,255,255,0.5);
    border-top: 1px solid #ececec;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Adjust the style of tab buttons */
.custom-tab-bar ion-tab-button {
    --color-selected: #d58059;
    --ion-color-base: #9e9e9e;
    --ion-color-activated: #ffffff;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    text-align: center;

}

/* Adjust the style of tab icons */
.custom-tab-bar ion-icon {
    font-size: 24px;

}

/* Adjust the style of tab labels */
.custom-tab-bar ion-label {
    font-size: 12px;
    font-weight: bold;
    margin-top: 4px;
}

/* Set a maximum width for tab labels */
.custom-tab-bar ion-label {
    max-width: 60px;
}

/* Adjust the padding inside tab buttons */
.custom-tab-bar ion-tab-button {
    padding: 0;
}


.header-title {
    font-family: 'RubikMono', sans-serif;
    text-align: left;
    padding: 6px 10px;
}

/* Customize font size for lesson titles */
.lesson-title {
    font-size: 16px; /* Adjust the font size */ /* Add padding to the right */
}

/* Style lesson cards */
.lesson-card {
    font-family: RubikRegular, sans-serif;
    margin-bottom: 16px;
    position: relative;
    display: flex;
    justify-content: space-between; /* Add this to distribute content horizontally */
    align-items: center; /* Center vertically */ /* Add padding for spacing */
    background: rgba(255,255,255,0.85);
}

/* Style start button */
.start-button {
    flex-shrink: 0; /* Prevent the button from shrinking */
}

.title-bank-name {
    font-family: RubikMedium, sans-serif;
    font-size: 28px;
}

.card-info {
    font-family: RubikRegular, sans-serif;
}

/* Style for the "No active credits" message */
.no-credits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 56px); /* Adjust for header height */
}

.no-credits img {
    max-width: 80%;
}

.no-credits p {
    font-family: RubikMedium, sans-serif;
    margin-top: 16px;
    font-size: 16px;
    color: #888;
}

/*ion-header {*/
/*    --ion-background-color: rgba(255, 255, 255, 0.25); !* Adjust alpha value *!*/
/*}*/

/* Set a transparent background for the toolbar */
ion-toolbar {
    --background: rgb(249, 212, 194); /* Adjust alpha value */
}

.active-credit-card {
    background: rgba(255,255,255,0.85);
}

ion-select.always-flip::part(icon) {
    transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

ion-select.always-flip.select-expanded::part(icon) {
    transform: rotate(180deg);
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust spacing as needed */
}


ion-input {
    width: 20%; /* Adjust width as needed */
}

.creditOffersCard{
    font-family: RubikRegular, sans-serif;
}

/* Style for transparent input fields */
.transparent-input {
    background-color: rgba(255, 255, 255, 0.85); /* Transparent white background */
    border: none;
    border-bottom: 1px solid #ccc;
    color: #000;
}

/* Style for profile card */
.profile-card {
    background-color: rgba(255, 255, 255, 0.85); /* Transparent white background */
    border-radius: 10px;
    margin: 20px;
}

.save-button {
    margin: 10px; /* Add some margin for spacing */
}

/* Style for exit button */
.exit-button {
    position: absolute;
    bottom: 0; /* Position at the bottom of the content */
    width: 100%; /* Full width */
    margin-bottom: 100px; /* Add some margin for spacing */
}

.custom-button {
    color: orange;
    border-color: orange;
    --border-color: orange;
}

.credit-product-name {
    font-family: RubikMedium, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    font-size: 90%;
}

.credit-bank-name {
    font-family: RubikRegular, sans-serif;
    padding-left: 30px;
    padding-top: 10px;
}

.credit-product-details {
    font-family: RubikRegular, sans-serif;
}


.center-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height of the container to the full viewport height */
}

.centered-button {
    max-width: 350px;
    width: 100%; /* Make sure the button takes the full width of its container */
    border-radius: 20px;
    font-family: RubikMedium, sans-serif;
    --background: #d58059; /* Adjust alpha value */
}
